In [ ]:
import sqlite3
db = 'sample.db'
con = sqlite3.connect(db)
csr = con.cursor()
sql = 'create table Employee(name,email,department,position);'
csr.execute(sql)
con.commit()
con.close()

In [ ]:
import sqlite3
db = 'sample.db'
con = sqlite3.connect(db)
csr = con.cursor()
sql = 'insert into employee(name,email,department,position) \ Values('Yamada','yamada@abcxyz.co.jp','sales','staff');'
csr.execute(sql)
sql = 'delete from employee where name = 'Yamada';'
csr.execute(sql)
sql = 'select * from employee;'
csr.execute(sql)
print(csr.fetchall())
sql = 'update employee set position = 'Manager' where name = 'suzuki';'csr.execute(sql)
con.commit()
sql = 'select * from employee;'
csr.execute(sql)
print(csr.fetchall)
con.close

In [ ]:
csr.excute('drop table data_set')
con.commit()

In [1]:
import sqlite3
db ='test.db'
con = sqlite3.connect(db)
csr = con.cursor()
csr.execute("create table human(name,nickname);"
csr.execute("insert into human(name) values('ichiro');")
csr.execute("insert into human(name) values('jiro');")
csr.execute("insert into human(name) values('saburo');")
csr.execute("update human set nickname = 'lazer' where name = 'ichiro';")
csr.execute("select * from human;")
print(csr.fetchall())
con.commit()
con.close()

SyntaxError: invalid syntax (<ipython-input-1-82a2777551fe>, line 6)

In [ ]:
import sqlite3
db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()
csr.execute("create table human(name,nickname);")
csr.execute("insert into human(name) values('ichiro');")
csr.execute("insert into human(name) values('jiro');")
csr.execute("insert into human(name) values('saburo');")
csr.execute("update human set nickname = 'lazer' where name = 'ichiro';")
csr.execute("select * from human;")
print(csr.fetchall)
con.commit()
con.close